<h1>flickr_search</h1>
<!-- <form class="form-search"> -->
<input type="text" class="input-medium search-query" id="input">
<button type="submit" class="btn" id="pics">Search</button>
<!-- </form> -->
<div class="pics">
	<div class="page_navigation"></div>
	<ul class="content">
	</ul>
</div>